.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 300px;
  padding: 16px;
}

.full-width {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}