<div class="taskbar">
  @for (item of menuItems(); track item.id) {
    <div class="taskbar-item">

      @if (!item.application) {
        <button mat-button (click)="toggleFolder(item.id)">
          <mat-icon>{{ item.iconName ?? 'folder' }}</mat-icon>
          {{ item.name }}
        </button>
        @if (openFolderId === item.id) {
          <div class="dropdown">
            @for (sub of item.subItems; track sub.id) {
              <button mat-menu-item>
                <mat-icon>{{ sub.iconName ?? 'apps' }}</mat-icon>
                {{ sub.name }}
              </button>
            }
          </div>
        }
      } @else {
        <button mat-button>
          <mat-icon>{{ item.iconName ?? 'apps' }}</mat-icon>
          {{ item.name }}
        </button>
      }

    </div>
  }
</div>